body {
    background: #ECE9E7;
    background-size: cover;
}

/* *{
    border: 1px solid red;
 } */

.search-hero {
    display: flex;
    width: 100%;
    padding: 83px 56px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #3F220F;
    height: 35vh;
}

.flight-panel-two-column {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 80px;
}

.left-flight-panel {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: sticky;
    top: 0;
}

.autocomplete-suggestions div:hover {
    background-color: #f0f0f0;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.showing-flight-result-no {
    color: var(--Main-text, #1B0E06);
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 20.3px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    align-self: stretch;
}

.main-filter-and-filter-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.main-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.filter-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.filter-title {
    color: var(--Main-text, #1B0E06);
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 23.2px */
}

.filter-title h3 {
    color: var(--Main-text, #1B0E06);
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 23.2px */
}

.filter-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.filter-option {
    display: flex;
    padding: 4px 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.filter-option input {
    border-radius: 4px;
    border: 1.5px solid var(--Placeholder-text, #98A2B3);
    background: #FFF;
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}

.filter-option label {
    color: var(--Main-text, #1B0E06);
    font-feature-settings: 'cv01' on, 'cv03' on, 'cv04' on;
    font-family: "IBM Plex Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    /* 21.75px */
}

.filter-button {
    border-radius: 6px;
    background: var(--Pink, #E71D36);
    display: flex;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    color: var(--White, #FFF);
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 20.3px */
}

.right-flight-panel {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}

.sort-flights {
    display: flex;
    justify-content: flex-end;
}

.sort-flights-inner {
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.sort-by {
    position: relative;
}

.sort-dropdown {
    appearance: none;
    background-color: #ffffff;
    color: #111827;
    font-size: 1rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.sort-dropdown:hover {
    border-color: #3b82f6;
    box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.25);
}

/* Optional: Add a custom arrow */
.sort-by::after {
    content: "▾";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.85rem;
    color: #6b7280;
}


.flight-card-renders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.round-trip-card {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.round-trip-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
}


.inner-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.departure-arrival-snapshot {
    display: flex;
    max-width: 637px;
    padding: 24px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.departure-snapshot {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;
}

.departure-snapshot-left {
    display: flex;
    width: 360px;
    align-items: flex-start;
    gap: 12px;
}

.airline-logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background: #8E8E8E;
    object-fit: cover;
}

.departure-time-airport-airline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.departure-time-airport {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.depart-time-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.depart-time-left h1 {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
}

.depart-time-left p {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.airplane-facing-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.airplane-facing-right svg {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.arrive-time-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.arrive-time-right h1 {
    color: var(--Main-text, #1B0E06);
    text-align: right;
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
}

.arrive-time-right p {
    color: var(--Main-text, #1B0E06);
    text-align: right;
    font-family: "IBM Plex Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.departure-airport {
    color: var(--Subtext, rgba(27, 14, 6, 0.90));
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.departure-snapshot-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.flight-duration-and-stops {
    display: flex;
    align-items: center;
    gap: 4px;
}

.flight-duration,
.stops {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cabinClass {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price-snapshot {
    display: flex;
    padding-left: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    align-self: stretch;
    border-left: 1px dashed var(--Placeholder-text, #98A2B3);
}

.price-snapshot h1 {
    color: var(--Main-text, #1B0E06);
    text-align: right;
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price-snapshot p {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom-card {
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 0.5px dashed #000;
}

.travel-baggage-addons {
    display: flex;
    width: 533px;
    align-items: center;
    gap: 12px;
}

.addon-chip {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #E9E9E9;
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.actions {
    display: flex;
    width: 277px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.view-flight-details {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.book-flight {
    color: #E71D36;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
}

/* Off-Canvas CSS */
.content-area {
    text-align: center;
    padding: 2rem;
}

/* Offcanvas container */
.offcanvas {
    position: fixed;
    top: 0;
    right: 0;
    width: 650px;
    height: 100%;
    padding: 16px;
    background-color: white;
    box-shadow: -5px 0 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.5s ease;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* Add these properties to hide the off-canvas initially */
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
}

.offcanvas.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #555;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.close-btn:hover {
    background-color: #f0f0f0;
    transform: rotate(90deg);
}

/* Optional: Overlay styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Content inside the offcanvas */
.offcanvas-header {
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.offcanvas-header h2 {
    margin: 0;
    color: #333;
    font-weight: 600;
}

.offcanvas-body {
    padding: 25px;
    flex: 1;
}


.offcanvas.active .cta-buttons {
    opacity: 1;
    transform: translateY(0);
}

.btn {
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1;
}

.btn-primary {
    background-color: #E71D36;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #d01830;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(231, 29, 54, 0.3);
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #555;
}

.btn-secondary:hover {
    border-color: #bbb;
    background-color: #f9f9f9;
}

/* .offcanvasinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
} */

.offcanvas-title {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 218.75% */
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.departure-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.depature-header {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
}

.departure-leg {
    display: flex;
    padding: 16px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: rgba(255, 248, 243, 1);
}

.arrival-leg {
    background: rgb(247, 247, 247);
}

.departure-leg-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.departure-leg-airline {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.airline-logo {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background: #8E8E8E;
}

.airline-name-airplane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

}

.departure-leg-airline-name {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.departure-leg-airplane {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FFF;
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.departure-leg-place-time {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.departure-leg-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.from-travelduration-to {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

.from-from,
.to-to {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.from-from h1,
.to-to h1 {
    color: var(--Main-text, #1B0E06);
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
}

.from-from p,
.to-to p {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.traveltime {
    display: flex;
    width: 134px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.traveltime p {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.traveltime h4 {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.departure-leg-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.departs-day-outer,
.arrives-day-outer {
    display: flex;
    height: 42px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.departs-day,
.arrives-day {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.departs-day h1,
.arrives-day h1 {
    align-self: stretch;
    color: var(--Main-text, #1B0E06);
    text-align: right;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.departs-day p,
.arrives-day p {
    color: var(--Main-text, #1B0E06);
    text-align: right;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.stop-details {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-top: 1px solid var(--Placeholder-text, #98A2B3);
    border-bottom: 1px solid var(--Placeholder-text, #98A2B3);
}

.stop-icon {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.stop-details-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.stop-details-header {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.stop-details-subheader {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: stretch;
}

.fare-details-section {
    display: flex;
    width: 322px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-top: 24px;
}

.fare-details-header-subheader {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 12px;
}

.fare-details-header {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
}

.fare-details-subheader {
    color: var(--Subtext, rgba(27, 14, 6, 0.90));
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: stretch;
}

.fare-details-card {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    border: 1.5px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.10);
}

.fare-details-card-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.fare-details-card-inner-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.fare-details-price-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.fare-details-price {
    color: var(--Pink, #E71D36);
    font-family: "IBM Plex Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}

.fare-details-description {
    color: var(--Subtext, rgba(27, 14, 6, 0.90));
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.fare-cabin-class {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #E9E9E9;
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fare-details-card-inner-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}

.fare-details-feature {
    display: flex;
    align-items: center;
    gap: 7px;
    align-self: stretch;
}

.feature-icon svg {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.fare-details-feature-point {
    color: var(--Subtext, rgba(27, 14, 6, 0.90));
    font-family: "IBM Plex Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1 0 0;
}

.book-flight-section {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    border: 2px solid #F2F2F2;
    background: #FFF;
    position: sticky;
    bottom: 0;
    box-shadow: 0px -4px 32px 0px rgba(0, 0, 0, 0.10);
    z-index: 1000;
    margin-top: 24px;
    margin-bottom: 24px;
}

.book-flight-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.book-flight-inner-left-outer {
    display: flex;
    height: 56px;
    padding: 16px 0px;
    align-items: center;
    gap: 12px;
    border-radius: 6px 0px 0px 6px;
    background: var(--White, #FFF);
}

.book-flight-inner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.book-flight-placeholder {
    color: var(--Main-text, #1B0E06);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 23.2px */
}

.book-flight-inner-right-outer {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.book-flight-btn {
    display: flex;
    padding: 12px 28px;
    \
 justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Pink, #E71D36);
    color: var(--White, #FFF);
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
    /* 20.3px */
}