body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    height: 72px;
    padding: 12px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.navcontents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navcontents-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-links li {
    color: #1B0E06;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-button {
    display: flex;
    width: 92px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(63, 34, 15, 0.20);
}

.hero-section {
    background-image: url('assets/BGIMAGE.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 70vh;
    padding: 52px 80px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.hero-content {
    display: flex;
    width: 559px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-header {
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
}

.hero-subtext {
    color: #FFF;
    font-family: "IBM Plex Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.hero-input-container {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}